<h1>
    {{title}}
</h1>

<div *ngIf="title; then login else logout"></div>
<ng-template #login>
    <h3>Booly is logged-in</h3>
</ng-template>
<ng-template #logout>
    <h3>Loggedout</h3>
</ng-template>
<button (click)="logOut()">Logging out</button>

<hr>

<form #f="ngForm">
    <input ngModel type="email" name="email" placeholder="youremail@yahoo.com" email required>
    <button [disabled]="!f.valid">{{ f.valid ? 'Valid:Press Me' : 'Do not Press' }}</button>
    <h5>This form is {{f.valid ? 'VALID' : 'NOT-VALID'}}</h5>
</form>

<hr>

<input type="text" required [(ngModel)]="name" />
<button (click)="add(name)">ADD</button>

<ul *ngFor="let item of maxData; let i">
    <li>{{item}}</li>
    <button (click)="delete(i)" id="delete">delete</button>
</ul>