/* You can add global styles to this file, and also import other style files */

body {
    background-color: mediumpurple;
}

button#delete {
    color: red;
    text-decoration: none;
    background-color: pink;
    font-size: small;
    align-content: left;
}

li {
    text-decoration: none;
}